.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.List_A{
  list-style-type: none;
  width: 100%;
  min-height: 50px;
  background:#6272a4;
  margin-bottom: 10px;
  display: flex;
  color: #50fa7b;
  font: bold;
}